<form action="">
    <div class="container">
        <div class="row gy-1">
            <div class="col-12 d-flex flex-column">
                <button class="btn btnAdd text-white w-100">Add Invoice(+)</button>
            </div>
            <div class="col-12 bg-white p-3 rounded mb-3">
                <div class="row">
                    <div class="col-2">
                        <label class="form-label fs-6 m-0" for="codProducto">Cod Producto</label>
                        <input class="form-control" type="number" required name="codProducto">
                    </div>
                    <div class="col-2">
                        <label class="form-label fs-6 m-0" for="nameProdcuto">Nombre Producto</label>
                        <input class="form-control" type="text" required name="nameProdcuto">
                    </div>
                    <div class="col-2">
                        <label class="form-label fs-6 m-0" for="cantidad">Cantidad</label>
                        <input class="form-control" type="number" required name="cantidad" placeholder="0">
                    </div>
                    <div class="col-2">
                        <label class="form-label fs-6 m-0" for="valorUnidad">Valor Unit</label>
                        <input class="form-control" type="number" required name="valorUnidad" placeholder="0">
                    </div>
                    <div class="col-2">
                        <button class="w-100 h-100 btn btnBlue text-white fs-4">+</button>
                    </div>
                    <div class="col-2">
                        <button class="w-100 h-100 btn btn-danger fs-4">-</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <input class="btn btnBlue text-white w-100 fs-4 py-2 mb-2" type="submit" value="Finish Shopping">
            </div>
        </div>
    </div>
</form>

<style>

    .btnAdd{
        background-color: rgb(74, 0, 142) !important;
    }
    .btnAdd:hover{
        background-color: rgb(133, 2, 255) !important;
        transition: all .3s ease;
    }
    .btnBlue{
        background-color: rgb(0, 16, 137) !important;
    }
    .btnBlue:hover{
        background-color: rgb(0, 30, 255) !important;
        transition: all .3s ease;
    }
</style>