
    <div class="container">
            <div class="row gy-2 text-white">
                <div class="col-12 fondo rounded pb-3">
                    <h2 class="text-center m-4">Header the bill</h2>
                    <div class="row gy-3">
                        <div class="col-12 col-lg-4 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="numeroFactura">Nro de factura</label>
                            <input class="form-control" type="number" required name="numeroFactura">
                        </div>
                        <div class="col-12 col-lg-3 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="fechaFactura">Fecha de factura</label>
                            <input class="form-control" type="date" required name="fechaFactura">
                        </div>
                        <div class="col-12 col-lg-5 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="vendedor">Vendedor</label>
                            <input class="form-control" type="text" required name="vendedor">
                        </div>
                        <div class="col-12 col-lg-3 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="idCliente">Nro Identificacion Cliente</label>
                            <input class="form-control" type="number" required name="idCliente">
                        </div>
                        <div class="col-12 col-lg-4 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="nombre">Nombre y Apellido</label>
                            <input class="form-control" type="text" required name="nombre">
                        </div>
                        <div class="col-12 col-lg-5 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="correoElectronico">Correo Electronico</label>
                            <input class="form-control" type="email" required name="correoElectronico">
                        </div>
                        <div class="col-12 col-lg-6 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="direccion">Direccion</label>
                            <input class="form-control" type="text" required name="direccion">
                        </div>
                        <div class="col-12 col-lg-6 d-flex flex-column">
                            <label  class="form-label fs-6 m-0" for="telefono">Telefono de Contacto</label>
                            <input class="form-control" type="number" required name="telefono">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h3 class="w-100 fs-1 py-3 text-center"> Bill Details</h3>
                </div>
            </div>
    </div>


<style>
    .fondo{
        background-color: rgba(0, 0, 0, 0.44);
    }
    h3{
    color: hsla(0, 0%, 0%, 0.9);
    font: normal 5rem Varela Round, sans-serif;
    font-size: 4rem !important;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2000ms infinite;  
  }
  
  @keyframes move {
    0% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 rgb(0, 30, 255), 
        -3px 3px 0 rgb(0, 30, 255), 
        -2px 2px 0 rgb(0, 30, 255), 
        -1px 1px 0 rgb(0, 30, 255)
      ;
    }
    /* 25% {    
      text-shadow:      
        -4px -4px 0 rgb(0, 30, 255), 
        -3px -3px 0 rgb(0, 30, 255), 
        -2px -2px 0 rgb(0, 30, 255), 
        -1px -1px 0 rgb(0, 30, 255),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    } */
    50% {
      text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 rgb(0, 30, 255), 
        3px -3px 0 rgb(0, 30, 255), 
        2px -2px 0 rgb(0, 30, 255), 
        1px -1px 0 rgb(0, 30, 255)
      ;
    }
    /* 75% {
      text-shadow:
        4px 4px 0 rgb(0, 30, 255), 
        3px 3px 0 rgb(0, 30, 255), 
        2px 2px 0 rgb(0, 30, 255), 
        1px 1px 0 rgb(0, 30, 255),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    } */
    100% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 rgb(0, 30, 255), 
        -3px 3px 0 rgb(0, 30, 255), 
        -2px 2px 0 rgb(0, 30, 255), 
        -1px 1px 0 rgb(0, 30, 255)
      ;
    }  
  }
</style>