<div class="row mb-3 " >
    <div class="col-6 col-lg-2">
        <label class="form-label fs-6 m-0" for="codProducto">Cod Producto</label>
        <input class="form-control" type="number" required name="codProducto">
    </div>
    <div class="col-6 col-lg-2">
        <label class="form-label fs-6 m-0" for="nameProdcuto">Nombre Producto</label>
        <input class="form-control" type="text" required name="nameProdcuto">
    </div>
    <div class="col-6 col-lg-2">
        <label class="form-label fs-6 m-0" for="amount">Amount</label>
        <input class="form-control" type="number" required readonly name="amount" placeholder="0">
    </div>
    <div class="col-6 col-lg-2">
        <label class="form-label fs-6 m-0" for="valorUnidad">Valor Unit</label>
        <input class="form-control" type="number" required name="valorUnidad" placeholder="0">
    </div>
    <div class="col-6 col-lg-2 mt-2 mt-lg-0">
        <button class="w-100 h-100 btn btnBlue text-white fs-4 btnsum">+</button>
    </div>
    <div class="col-6 col-lg-2 mt-2 mt-lg-0">
        <button class="w-100 h-100 btn btn-danger fs-4 btnsum">-</button>
    </div>
</div>